/*                    TODO
- Fix for mobile responsiveness.
- Clean up CSS
*/

body {
  background-color: black;
  font-family: sans;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 1.7em;
  margin: 0;
}

img {
  margin: 0 auto;
  max-width: 900px;
  display: block;
}

p {
  text-align: center;
  color: white;
  padding-bottom: 15px;
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1em 1em 1.5em 1em;
  background: #f0f0f0;
  border: 5px solid #757575;
  margin: 0 auto 0 auto;
  max-width: 700px;
  border-radius: 4px;
  text-align: center;
}

form input {
  background: #ffffff;
  border: 1px solid black;
  margin-right: 2em;
}

.form-icon {
  grid-column: 1 / 3;
  color: black;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}

.form-icon-div {
  grid-column: 1 / 3;
}

.empire-wiki {
  text-decoration: none;
}

.radio {
  margin: 0 5px 0 0;
}

.radio-label {
  font-size: 1.1em;
}

.checkbox {
  margin: 0 5px 0 0;
}

.checkbox-label {
  font-size: 1.1em;
}

.radio-legend {
  text-align: left;
}

.checkbox-legend {
  text-align: left;
}

.lightsaber {
  margin: 0 1.6em 0.5em 0;
  padding: 1em 1em 1.5em 1em;
  background: white;
}

.dark {
  margin: 0 1.6em 0.5em 0;
  padding: 1em 1em 1.5em 1em;
  background: #ffffff;
}

form select {
  margin-right: 2em;
  border: 1px solid black;
  background: white;
}

form fieldset {
  margin: 0 auto;
  text-align: right;
}

form textarea {
  margin-right: 2em;
  margin-left: 0;
}

form button {
  grid-column: 1/ 3;
  background: black;
  font-size: 1em;
  font-weight: 800;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  border: 0;
  color: white;
}

form button:hover {
  outline: 1px solid #ff3333;
  color: #ff3333;
}

label {
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 2em;
  text-align: right;
  grid-column: 1 / 2;
}

fieldset label {
  padding: 0;
}

.bold {
  font-weight: 800;
}

input, select {
  padding: 0.7em;
  margin-bottom: 0.5em;
}

input:focus, textarea:focus, select:focus {
  outline: 1px solid black;
}

input, button, fieldset, select, textarea {
  grid-column: 2 / 3;
}

textarea {
  padding: 0.5em 0.5em 0 0.5em;
  margin: 0.7em 0.7em 1.5em 0.7em;
  background: white;
  width: 92.15%;
  border: 1px solid black;
}

.form-title {
  text-align: center;
  color: white;
  grid-column: 1 / 3;
  background: black;
  padding: 1em;
  margin-bottom: 25px;
  font-size: 15px;
}

.footer-h1 {
  font-size: 1em;
  padding-top: 30px;
  margin-bottom: 20px;
}

.my-links {
  padding-bottom: 15px;
  text-align: center;
}

.footer-link {
  padding: 0 15px 0 15px;
}

.footer-link:link, .footer-link:active, .footer-link:visited {
  text-decoration: none;
  color: #f9f9f9;
}

.footer-link:hover {
  color: #ff3333;
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 600px;
  }
}

@media only screen and (max-width: 425px) {
  img {
    max-width: 400px;
  }
}

@media only screen and (max-width: 375px) {
  img {
    max-width: 400px;
  }
}
